body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

select {
    cursor: pointer;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

label {
    font-weight: bold;
}

/* Estilos adicionales para mejorar la apariencia de los elementos select */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('https://cdn.jsdelivr.net/gh/stephentian/figure-bed/20201229222602.png') no-repeat right center / 15px 15px; /* personalizar la apariencia del icono del selector, asegúrate de reemplazar la URL con la tuya */
    padding-right: 25px;
}

/* Añadir estilos para cambiar el color de fondo de los elementos seleccionados */
select option:checked {
    background-color: #4CAF50;
    color: white;
}

/* Estilos para los elementos de formulario si están en modo de enfoque */
input[type="text"]:focus,
select:focus {
    outline: none;
    border: 1px solid #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}